<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>毕业设计选题系统</title>
    <meta content="毕业设计选题系统" name="description">
    <meta content="毕业设计选题系统" name="keywords">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link href="../../plugins/elementui/index.css" rel="stylesheet">
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="../../js/jquery.min.js" type="text/javascript"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td,
        .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }


        input[type="radio"] {
            appearance: auto;
            -webkit-appearance: auto;
            outline: none;
            display: initial;
        }
    </style>
</head>

<body class="hold-transition">
    <div id="app">
        <div class="content-header">
            <h1>毕业设计管理<small>查看毕业设计</small></h1>
            <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                <el-breadcrumb-item>毕业设计管理</el-breadcrumb-item>
                <el-breadcrumb-item>查看毕业设计</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="app-container">
            <div class="box">
                <!--模糊查询组件以及新建按钮-->
                <div class="filter-container">
                    <el-input @keyup.enter.native="handleFilter" class="filter-item" placeholder="选题名称"
                        style="width: 200px;" v-model="pagination.queryString"></el-input>
                    <el-button @click="findPage()" class="dalfBut">查询</el-button>
                </div>
                <!--展示学生详情信息表单-->
                <el-table :data="dataList" current-row-key="id" highlight-current-row size="small" stripe>
                    <el-table-column align="center" label="序号" type="index"></el-table-column>
                    <el-table-column align="center" label="选题名称" prop="title"></el-table-column>
                    <el-table-column align="center" label="选题描述" prop="description"></el-table-column>
                    <el-table-column align="center" label="已选学生人数" prop="total"></el-table-column>
    <!--                 <el-table-column
                    label="已选学生人数"
                    width="180">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                  <p>姓名: {{ scope.row.name }}</p>
                        <p>住址: {{ scope.row.address }}</p> 
                        <div slot="reference" class="name-wrapper">
                          <el-tag size="medium">{{ scope.row.total }}</el-tag>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column> -->
                    <el-table-column align="center" label="操作" width="300">
                        <template slot-scope="scope">
                            <el-button @click="handleUpdate(scope.row)" size="mini" type="primary" v-if="!btn_status">
                                选择学生</el-button>
                            <el-button size="mini" type="success" v-if="btn_status" :disabled="btn_status">已选定学生
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination :current-page="pagination.currentPage" :page-size="pagination.pageSize"
                        :total="pagination.total" @current-change="handleCurrentChange" class="pagiantion"
                        layout="total, prev, pager, next, jumper">
                    </el-pagination>
                </div>

                <!-- 编辑标签弹层 -->
                <div class="edit-form">
                    <el-dialog :visible.sync="dialogFormVisible4Edit" title="选择学生:">
                        <div class="checkScrol">
                            <table class="datatable">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>学生姓名</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>专业</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="c in tableData">
                                        <td>
                                            <input :id="c.id" v-model="studentId" type="radio" :value="c.id">
                                        </td>
                                        <!--       <td>
                                            <el-radio v-model="radio" label="1">备选项</el-radio>
                                        </td> -->

                                        <td><label :for="c.id">{{c.realName}}</label></td>
                                        <td><label :for="c.id">{{c.gender}}</label></td>
                                        <td><label :for="c.id">{{c.age}}</label></td>
                                        <td><label :for="c.id">{{c.major}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dialog-footer" slot="footer">
                            <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                            <el-button @click="handleEdit()" type="primary">确定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 引入组件库 -->
<script src="../../js/vue.js"></script>
<script src="../../plugins/elementui/index.js"></script>
<script src="../../js/jquery.min.js" type="text/javascript"></script>
<script src="../../js/axios-0.18.0.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            tableData: [],//添加表单窗口中检查组列表数据
            studentId: 0,//添加表单窗口中检查组复选框对应id
            pagination: {
                //分页相关模型数据
                currentPage: 1, //当前页码
                pageSize: 5, //每页显示的记录数
                total: 6, //总记录数
                queryString: null, //查询条件
            },
            dataList: [
                {
                    "id": "1702014418",
                    "username": "1702014118",
                    "gender": "男",
                    "age": 18,
                    "major": "软件工程",
                    "realName": "杨佳豪",
                    "firstWish": "1",
                    "secondWish": "2",
                },

            ], //当前页要展示的分页列表数据
            formData: {}, //表单数据
            dialogFormVisible: false, //增加表单是否可见
            dialogFormVisible4Edit: false, //编辑表单是否可见
            dialogFormVisible4EditPassword: false, //编辑密码表单是否可见
            rules: {
                //校验规则
                username: [
                    { required: true, message: "用户名为必填项", trigger: "blur" },
                ],
            },
            currentRowId: 0,
            btn_status: false,
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        watch: {
            'pagination.queryString': function () {
                this.findPage();
            }
        },
        methods: {
            //分页查询
            findPage() {
                //需要交给后台的当前页信息
                const pageInfo = {
                    //当前页码
                    pageNum: this.pagination.currentPage,
                    //每页数据数量大小
                    pageSize: this.pagination.pageSize,
                    //查询的条件
                    name: this.pagination.queryString,
                };
                //向后台发送ajax请求
                axios
                    .post("http://106.15.249.199:8083/topicsystem/teacher/essaylist?id=" + window.parent.passUserInfo().id, pageInfo)
                    .then((response) => {
                        //从后台响应回的数据中获取总记录数
                        this.pagination.total = response.data.data.total;
                        //从后台响应回的数据中获取用于展示的数据列表
                        // this.dataList = response.data.data.list;
                        let lists = response.data.data.list;
                        // console.log(this.dataList)
                        for (let index = 0; index < lists.length; index++) {
                            let element = lists[index];
                            axios
                                .post("http://106.15.249.199:8083/topicsystem/teacher/studentlist?eid=" + element.id, pageInfo)
                                .then((response) => {
                                    //判断请求是否处理成功
                                    if (response.data.code === 200) {
                                        //请求处理成功
                                        element.total = response.data.data.total;
                                    }
                                });
                                // console.log(this.dataList);
                        }
                        this.dataList = lists;
                    });
            },
            //添加
            handleAdd() {
                this.$refs["dataAddForm"].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false;
                        this.formData.teacherId = window.parent.passUserInfo().id;
                        axios
                            .post("http://106.15.249.199:8083/topicsystem/teacher/addessay", this.formData)
                            .then((response) => {
                                if (response.data.code === 200) {
                                    this.$message({
                                        message: response.data.message,
                                        type: "success",
                                    });
                                } else {
                                    this.$message.error("新增失败：" + response.data.message);
                                }
                            })
                            .finally(() => {
                                this.findPage();
                            });
                    } else {
                        this.$message.error("提交失败");

                    }
                });
            },
            //编辑
            handleEdit() {
                //用户点击确定提交表单后执行
                //校验表单数据是否合法
                // this.formData.teacherId = 
                console.log(this.studentId);
                const applyData = {
                    "eid": this.currentRowId,
                    "sid": this.studentId,
                    "tid": window.parent.passUserInfo().id
                }
                axios
                    .post("http://106.15.249.199:8083/topicsystem/teacher/applystudent", applyData)
                    .then((response) => {
                        if (response.data.code === 200) {
                            this.$message({
                                type: 'success',
                                message: response.data.message
                            });
                            this.btn_status = true;
                        } else {
                            this.$message.error(response.data.message);
                        }
                    })
                    .finally(() => {
                        //关闭窗口
                        this.dialogFormVisible4Edit = false;
                        this.dialogFormVisible4EditPassword = false;
                        //无论更新是否成功都刷新页面
                        this.findPage();
                    });
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                //是编辑窗口可见
                this.dialogFormVisible4Edit = true;
                this.currentRowId = row.id;
                //需要交给后台的当前页信息
                const pageInfo = {
                    //当前页码
                    pageNum: this.pagination.currentPage,
                    //每页数据数量大小
                    pageSize: this.pagination.pageSize,
                    //查询的条件
                    name: this.pagination.queryString,
                };
                //发送ajax请求回写数据
                axios
                    .post("http://106.15.249.199:8083/topicsystem/teacher/studentlist?eid=" + row.id, pageInfo)
                    .then((response) => {
                        //判断请求是否处理成功
                        if (response.data.code === 200) {
                            //请求处理成功
                            this.tableData = response.data.data.list;
                        } else {
                            //请求处理失败，提示错误信息
                            this.$message.error(response.data.message);
                        }
                    });
            }
            ,
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            }
            ,

        },
    })
        ;
</script>

</html>