<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>毕业设计选题系统</title>
    <meta content="毕业设计选题系统" name="description">
    <meta content="毕业设计选题系统" name="keywords">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link href="../../plugins/elementui/index.css" rel="stylesheet">
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="../../js/jquery.min.js" type="text/javascript"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td,
        .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>毕业设计管理<small>查看毕业设计</small></h1>
        <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>毕业设计管理</el-breadcrumb-item>
            <el-breadcrumb-item>查看毕设信息</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="box">
                <!--模糊查询组件以及新建按钮-->
                <div class="filter-container">
                    <el-input @keyup.enter.native="handleFilter" class="filter-item" placeholder="选题名称"
                              style="width: 200px;" v-model="pagination.queryString"></el-input>
                    <el-button @click="findPage()" class="dalfBut">查询</el-button>
                </div>
                <!--展示学生详情信息表单-->
                <el-table :data="dataList" current-row-key="id" highlight-current-row size="small" stripe>
                    <el-table-column align="center" label="序号" type="index"></el-table-column>
                    <el-table-column align="center" label="选题名称" prop="title"></el-table-column>
                    <el-table-column align="center" label="描述信息" prop="description"></el-table-column>
                    <el-table-column align="center" label="状态">
                        <template slot-scope="scope">
                            <el-popover placement="top" trigger="hover">
                                <p v-if="scope.row.status=='审核中'">申请时间: {{ scope.row.admitTime }}</p>
                                <p v-if="scope.row.status=='已取消'">取消时间: {{ scope.row.admitTime }}</p>
                                <p v-if="scope.row.status=='已拒绝'">拒绝时间: {{ scope.row.admitTime }}</p>
                                <p v-if="scope.row.status=='已通过'">取消时间: {{ scope.row.admitTime }}</p>
                                <div class="name-wrapper" slot="reference">
                                    <el-tag size="medium">{{ scope.row.status }}</el-tag>
                                </div>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="操作：已通过的选题无法退选">
                        <template slot-scope="scope">
                            <el-button @click="handleUpdate(scope.row)" size="mini" type="warning"
                                       v-if="scope.row.status=='审核中'">
                                退选选题
                            </el-button>
                            <el-button @click="handleUpdate(scope.row)" size="mini" type="primary"
                                       v-if="scope.row.status=='已取消'">
                                重新申请
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination :current-page="pagination.currentPage" :page-size="pagination.pageSize"
                                   :total="pagination.total" @current-change="handleCurrentChange" class="pagiantion"
                                   layout="total, prev, pager, next, jumper">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../../js/vue.js"></script>
<script src="../../plugins/elementui/index.js"></script>
<script src="../../js/jquery.min.js" type="text/javascript"></script>
<script src="../../js/axios-0.18.0.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            pagination: {
                //分页相关模型数据
                currentPage: 1, //当前页码
                pageSize: 5, //每页显示的记录数
                total: 6, //总记录数
                queryString: null, //查询条件
            },
            dataList: [], //当前页要展示的分页列表数据
            formData: {}, //表单数据
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
            // console.log(window.parent.passUserInfo().id);
        },
        watch: {
            'pagination.queryString': function () {
                this.findPage();
            }
        },
        methods: {
            //分页查询
            findPage() {
                const formData = {
                    "studentId": window.parent.passUserInfo().id,
                };
                //向后台发送ajax请求
                axios
                    .post("http://106.15.249.199:8083/topicsystem/student/reply/result", formData)
                    .then((response) => {
                        //从后台响应回的数据中获取用于展示的数据列表
                        this.dataList = response.data.data;
                        this.pagination.total = this.dataList.length;
                    });
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                const cancelMessage = "是否确认退选?该操作不可逆";
                const replyMessage = "是否重新申请该选题?";
                let confirmMessage = null;
                let updateData = {
                    "essayId": row.essayId,
                    "studentId": row.studentId
                }
                if (row.status == "已取消") {
                    confirmMessage = replyMessage;
                    updateData.status = 0;
                }
                if (row.status == "审核中") {
                    confirmMessage = cancelMessage;
                    updateData.status = 3;
                }
                this.$confirm(confirmMessage, "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning",
                })
                    .then(() => {
                        let count = 0;
                        for (let index = 0; index < this.dataList.length; index++) {
                            const element = this.dataList[index];
                            if (element.status == "审核中") {
                                count++;
                            }
                        }
                        if (count < 2 || row.status == "审核中") {
                            //发送ajax请求回写数据
                            axios
                                .put("http://106.15.249.199:8083/topicsystem/student/reply/update", updateData)
                                .then((response) => {
                                    //判断请求是否处理成功
                                    if (response.data.code === 200) {
                                        //请求处理成功
                                        this.$message({
                                            type: "success",
                                            message: response.data.message,
                                        });
                                    } else {
                                        //请求处理失败，提示错误信息
                                        this.$message.error(response.data.message);
                                    }
                                }).finally(() => {
                                this.findPage();
                            });
                        } else {
                            this.$message({
                                type: "info",
                                message: "最多只能存在两个审核中的选题",
                            });
                        }

                    })
                    .catch(() => {
                        this.$message({
                            type: "info",
                            message: "操作已取消",
                        });
                    });
            },

            //切换页码
            handleCurrentChange(currentPage) {
                //为模型数据赋值（当前页面）
                this.pagination.currentPage = currentPage;
                this.findPage();
            },

        }
    })
</script>
</html>
